<div class="container">
 <div class="row py-4">
  <div class="col-6">
   <h2>Ravi.catとは</h2>
   <h5>
    </br>
     『Ravi』とは、フランス語で『大変嬉しい、大喜び』など、『幸せ』を表現する単語です。『Ravi.cat』は、『猫が喜べる、幸せになれる場所へ』という想いでつけました。</br>
     近年問題となっている犬猫の殺処分について、皆さんはどれくらいご存じでしょうか。毎年、2万匹以上が殺処分されている中で、猫の殺処分数は異常に多く、全体の8割前後の殺処分を受けています。</br>
     猫は外に逃げてしまうと見つからない可能性が高かったり、飼育放棄により猫を捨ててしまう飼い主がいたり、自宅でたくさんの猫を飼ってるが故に繁殖してしまい、手に負えなくなってしまったりと、原因がたくさんあります。
     また、野良犬は狂犬病予防法のため、行政による捕獲対象となっていますが、猫はなっていません。</br>
     このような問題が近年注目され、野良猫を保護して飼手につなぐ、保護猫活動をする方が増え、『TNR』という動きが活発になってきました。『TNR』とは、野良猫を捕獲(Trap)し、繁殖しないための不妊治療(Neuter)を行い、捕獲した場所へ返す(Return)ことです。</br>
     しかし、私は元いた場所に返す前に、なんとか猫にとって幸せな、安全な場所へ送り届けたいと考えています。</br>
     このサイトを通して猫と人生を共にしてくれる優しい飼手を繋ぐことで、殺処分や車に轢かれてなくなるような最後ではなく、家族に見守られながら『幸せ』に旅立てる場所を猫たちに与えたいと思っています。</br>
     利益や動物虐待を目的とせず、単純に「猫と一緒にいたい」そう思っていただける方の訪問を心から、お待ちしております。
    </br>
   </h5>
  </div>
   <div class="col-6">
    <%= image_tag "neko.about.JPG", width: "550" %>
   </div>
 </div>
</div>