<div class="container">
 <div class="row py-4">
  <div class="col-6">
   <%= image_tag "neko.top.JPG", width: "550" %>
  </div>
  <div class="col-6">
   <h5>
    </br>
    この度は『Ravi.cat』を閲覧いただき、ありがとうございます。
    このサイトでは、訳があって飼育ができなくなってしまった猫や、
    道端に捨てられていた保護猫など、全国で幸せを求めている猫たちを公開し、
    行き場のない（失った）猫と優しい飼手を繋ぐ場所を目指しています。</br>
    動物虐待、動物殺処分を減少を目的とし、利益を目的としない保護猫サイトになりますので、詳しくは上部「サイト概要」より、今一度ご確認ください。</br>
    また、ただ猫を見にきただけという皆様。</br>
    まずは、上部の「猫一覧」より、可愛い猫たちを一目見ていっていただければ幸いです。
    その中で、1匹でもピンときた猫がいましたら、是非、その子の人生をあなたの人生の一部として迎え入れることを検討してみてあげてください。</br>
    「あなた」と「猫」の幸せな出会いがありますように。</br>
    </br>
   </h5>
  </div>
 </div>
</div>