@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

 header{
  background-color: #F4A460;
 }

 main{
  height: 100%;
  width: 100%;
  background-color: #FFDBC9;
 }

